.formClaro{
  padding: 0px !important;
}
.ocultarForm{
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.form-fixed-principal{
  position: fixed;
  z-index: 1;
  top: 160px !important;
  right: 30px;
  color: white;
  max-width: 25% !important;

}
.ClassMigrar{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.4rem;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #FE080B;
}
.Classlinea{
  font-weight: bold;
  padding: 18px;
  background-color: #FE080B;
  color: #fff !important;
  margin-bottom: -0.2rem;
}
.NumLlama{
  line-height: 25px;
  text-decoration: none;
  font-size: 30px;
  font-family: din-black;
  color: #fff;
}
.NumLlama:hover{
  color: #000;
  text-decoration: none;
}

.textLinea{
  font-weight: bold;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
}
.textElige{
  text-align: center;
  font-weight: bold;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
}
.card{
  background-color: #fff;
  color: #646464;
  padding: 12px;
  border: 0.3rem solid #FE080B;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: inherit !important;
}
.inputFormSection2{
  width: 100% !important;
  padding: 8px 10px;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  color: #A7A6A7;
  background-color: #E0E0E0;
  text-align: center;
}
.TextTerminos{
  font-size: 9px;
  text-decoration: underline;
  color: #4F4F4F;
  text-align: center;
}
.form-check{
  padding: 10px 50px;
}

.buttonFormPrimary{
  background: #fe080b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-radius: 0px;
  font-family: din-regular;
  letter-spacing: 1px;
  border-radius: 2rem;
}

.buttonFormFooter{
  background: #D43D2D;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  font-family: din-regular;
  letter-spacing: 1px;
}
.form__boxN{
  width: 100%;
  height: 100%;
  background: #ccc;
  min-height: 50px;
  max-width: 240px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
}
.input-radio{
  display: block;
  position: relative;
}
.input-radio input{
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 10%;
  transform: translateY(-50%);
}
.labelMovil{
  margin: 4px 0px !important;
}
.labelFijo{
  margin: 4px 0px 15px !important;
}
.label-default{
  padding: 7px 15px;
  border-radius: 50px;
  cursor: pointer;
  background: #C4C4C4;
  color: #646464;
}
.label-active {
  padding: 7px 15px;
  border-radius: 50px;
  cursor: pointer;
  background: #FE080B;
  color: #fff;
}

.input-radio label {
    color: inherit;
    height: 40px;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: color 250ms ease-in;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    color: #0d0d0d;
    border-radius: 25px;
    font-weight: bold;
}
.form-animate{
  transition: all 0.4s ease;
}
.topForm{
  opacity: 0;
  transition: all 0.4s ease;
}

@media (max-width: 1000px) {
  .ocultarForm{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 100px!important;
    display: flex;
    justify-content: center;
  }
  .form-fixed-principal{
    position: relative;
    top: 0px !important;
    right: 0px;
  }
  .formClaro{
    width: 100%!important;
    max-width: 100%!important;
  }
  .ocultarForm{
    margin-top: 50px !important;
    margin-bottom: 0px !important;

  }
}
@media (max-width: 600px) {
  .formClaro{
    width: 100%!important;
    max-width: 100%!important;
  }
}

/* CheckBox buttom */

.input-checkbox {
  display: block;
  position: relative;
}

.input-checkbox label {
  height:37px;
  width: 40px;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: color 200ms ease-in;
  overflow: hidden;
  font-size: 1.1rem !important;
}

.input-checkbox label:before {
  border-radius: 20%;
  content: '';
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.input-checkbox label:after {
  width: 18px;
  height: 18px;
  content: '';
  border: 2px solid #9C9C9C;
  background-color: #C4C4C4;
  border-radius: 0%;
  z-index: 200;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.input-checkbox input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.input-checkbox input:checked ~ label:after {
  border: 2px solid #9C9C9C;
  background-color: #fe080b;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-size: 12px 12px;
}

.input-checkbox input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}


