.textoCelular{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FE080B;
  font-family: din-medium;
  cursor: pointer;
}

.backgroundRed{
  background-color: #FE080B;
}
.carousel-control-prev-icon{
  background-image: url(../img/IconsClaro/prev.png) !important;
  transform: inherit !important;
}
.carousel-control-next-icon {
  background-image: url(../img/IconsClaro/next.png) !important;
}
.carousel-control-next, .carousel-control-prev{
  opacity: inherit !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 575.98px) {
  .textoCelular{
    font-size: 1rem;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
  }
}